<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>
  <system.serviceModel>
    <bindings>
      <webHttpBinding>
        <binding maxReceivedMessageSize="2147483647" maxBufferPoolSize="2147483647" maxBufferSize="2147483647" transferMode="Buffered">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
          <!--name="webHttpTransportSecurity"-->
          <!--<security mode="Transport" />-->
        </binding>
      </webHttpBinding>
    </bindings>
    <!--Audit Service Implementation Ends-->


    <services>
      <!--Audit Service Implementation Starts-->
      <service behaviorConfiguration="ServiceBehaviour" name="MFBMQFLAPI.QFL">
        <endpoint address="" behaviorConfiguration="web" binding="webHttpBinding" contract="MFBMQFLAPI.IQFL"></endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service behaviorConfiguration="ServiceBehaviour" name="MFBMQFLAPI.Master">
        <endpoint address="" behaviorConfiguration="web" binding="webHttpBinding" contract="MFBMQFLAPI.IMaster"></endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />

      </service>
      <!--Audit Service Implementation Ends-->
      <service behaviorConfiguration="ServiceBehaviour" name="MFBMQFLAPI.Monitor">
        <endpoint address="" behaviorConfiguration="web" binding="webHttpBinding" contract="MFBMQFLAPI.IMonitor"></endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service behaviorConfiguration="ServiceBehaviour" name="MFBMQFLAPI.Report">
        <endpoint address="" behaviorConfiguration="web" binding="webHttpBinding" contract="MFBMQFLAPI.IReport"></endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>

      <!--Audit Service Implementation Ends-->
    </services>
    <behaviors>
      <endpointBehaviors>
        <behavior name="web">
          <dataContractSerializer maxItemsInObjectGraph="2147483647" />
          <webHttp helpEnabled="true" />
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="ServiceBehaviour">
          <dataContractSerializer maxItemsInObjectGraph="2147483647" />
          <serviceAuthorization serviceAuthorizationManagerType="MFBMQFLAPI.DistributorValidator, MFBMQFLAPI" />
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true" aspNetCompatibilityEnabled="true"></serviceHostingEnvironment>
  </system.serviceModel>
  <connectionStrings>
    <!--192.168.2.16-->
    <!--<add name="dbConnectionString" connectionString="Data Source=13.68.151.15;Initial Catalog=AutoQFLMFBM;User ID=sa;pwd=Sql@123" providerName="System.Data.SqlClient" />
    <add name="dbConnectionString1" connectionString="Data Source=13.68.151.15;Initial Catalog=Administrator;User ID=sa;pwd=Sql@123" providerName="System.Data.SqlClient"/>-->


    <!--<add name="dbConnectionString" connectionString="Data Source=(LocalDb)\MSSQLLocalDB;Initial Catalog=MFBMOptimize;Integrated Security=True" providerName="System.Data.SqlClient" />
	  <add name="dbConnectionString1" connectionString="Data Source=(LocalDb)\MSSQLLocalDB;Initial Catalog=Administrator;Integrated Security=True" providerName="System.Data.SqlClient" />-->


    <!--liveDb-->
    <!--<add name="dbConnectionString" connectionString="Data Source=S365BID1Q058;Initial Catalog=DTAQM_AutoQFL_MFBMII;User ID=Fusodaimler;pwd=Fuso_daimler@123" providerName="System.Data.SqlClient" />
    <add name="dbConnectionString1" connectionString="Data Source=S365BID1Q058;Initial Catalog=Administrator;User ID=Fusodaimler;pwd=Fuso_daimler@123"  providerName="System.Data.SqlClient" />-->

    <!--<add name="dbConnectionString" connectionString="Data Source=(LocalDb)\MSSQLLocalDB;Initial Catalog=DTAQM_AutomatedQFL;Integrated Security=True" providerName="System.Data.SqlClient" />-->


    <!-- UAT-->
    <add name="dbConnectionString" connectionString="Data Source=S365BID1Q058;Initial Catalog=DTAQM_AutoQFL_MFBM_UAT;User ID=Fuso_Daimler;pwd=Fuso_daimler@123"  providerName="System.Data.SqlClient" />
    <add name="dbConnectionString1" connectionString="Data Source=S365BID1Q058;Initial Catalog=Administrator_UAT;User ID=Fuso_Daimler;pwd=Fuso_daimler@123" providerName="System.Data.SqlClient" />


    <!--<add name="dbConnectionString1" connectionString="Data Source=S365BID1Q058;Initial Catalog=Administrator_UAT;ID=Fuso_Daimler;pwd=Fuso_daimler@123" providerName="System.Data.SqlClient"/>-->

    <!--<add name="DTAQM_AutomatedQFLEntities" connectionString="metadata=res://*/Diagram.Model1.csdl|res://*/Diagram.Model1.ssdl|res://*/Diagram.Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.2.16;initial catalog=DTAQM_AutomatedQFL;user id=sa;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
  </connectionStrings>

  <appSettings>

    <add key="Path" value="C:\Users\PERIYAB\Peri\AutomatedQFL\MFBMQFLAPIPhase2\MFBMQFLAPI\Log\"/>


  </appSettings>

  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"></modules>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="1073741824" />
      </requestFiltering>
    </security>
    <directoryBrowse enabled="true" />

  </system.webServer>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>