.ButtonsClass {
    padding-left: 130px;
    padding-bottom: 1px;
}


#Signaturevalidation {
    font-size: 18px;
}

/*
.newSignature1 {
    position: relative;
    margin: 0;
    padding: 0;
    border: 2px solid black;
}*/
.SignatureDisplay {
    position: relative;
    margin: 0;
    padding: 0;
    border: 2px solid black;
}
.signaturenew {
    padding-left: 0px !important;
    text-align: center !important;
}
#newSignature {
    position: relative;
    margin: 0;
    padding: 0;
    border: 2px solid black;
}


